<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="com.chao.helper.service"/>

<!--     <bean id="commonRiskListener" class="com.sshell.payment.risk.CommonRiskListener"/>
    <bean id="contentProviderRiskListener" class="com.sshell.payment.risk.ContentProviderRiskListener"/>
    <bean id="applicationRiskListener" class="com.sshell.payment.risk.ApplicationRiskListener"/>
    <bean id="supplierRiskListener" class="com.sshell.payment.risk.SupplierRiskListener"/>

    <util:list id="riskListenerList" value-type="com.sshell.payment.risk.RiskListener">
        <ref bean="commonRiskListener"/>
        <ref bean="contentProviderRiskListener"/>
        <ref bean="applicationRiskListener"/>
        <ref bean="supplierRiskListener"/>
    </util:list> -->
</beans>
